<a href="https://colab.research.google.com/github/Anatoly7777/Python_for_A_Exercise_2/blob/main/PYFA_Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##__*Предмет: Python для аналитиков*__

_Студент: Казаков Анатолий_

##**Практическая работа №2**

[Ссылка на репозиторий на GitHub]()
[Ссылка на файл на Google Drive](https://drive.google.com/file/d/1lZB92fXzyz6v70QhLQ827aWkq-eQPUHf/view?usp=sharing)

####***ОПИСАНИЕ ТАБЛИЦА***
---------------
- id ----------	- Уникальный ID для каждого дома
- date --------	- Дата продажи дома
- price -------	- Стоимость продажи дома
- bedrooms ----	- Кол-во спален
- bathrooms ---	- Кол-во ванных комнат (0.5 - туалет без душа)
- sqft_living -	- Кв. метры жилые
- sqft_lot ----	- Кв. метры общие
- floors ------	- Кол-во этажей
- waterfront --	- Есть набержная или нет
- view 	-------	- Значение от 0 до 4 насколько хороший вид
- condition ---	- Значение от 1 до 5 насколько хорошее состояние
- grade -------	- Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество конструкции и дизайна
- sqft_above --	- Кв. метры дома, которые находятся выше земли
- sqft_basement - Кв. метры дома, которые находятся ниже земли
- yr_built ---	- Год постройки дома
- yr_renovated 	- Год ремонта дома
- zipcode -----	- Индекс
- lat 	-------	- Широтма
- long 	-------	- Долгота
- sqft_living15 - Кв. метры жилой площади у 15 соседей
- sqft_lot15 --	- Кв. метры общей площади у 15 соседей

---------------

###Задание №1
------------------------

In [2]:
def num(arg):
  return '{:_.0f}'.format(arg).replace('_', " ")

def perc(arg):
  return '{:.0%}'.format(arg)

def f_format(arg, f_name):
  return f_name(arg)

In [3]:
#Задание 1.1 Скачать файл в уроке
#Задание 1.2 Считать данные с помощью pandas

import pandas as pd

url = 'https://drive.google.com/file/d/1lZB92fXzyz6v70QhLQ827aWkq-eQPUHf/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]

df = pd.read_csv(path, sep =',')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [4]:
#Задание 1.3 Вывести на экран первые 5 строк
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
#Задание 1.4 Посмотреть на описание признаков и на их содержание

#для выполнения задания использованы метод sample() и аттрибуты - columns, dtypes, index

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
14989,8562740480,20150414T000000,840000.0,4,3.25,3160,6327,2.0,0,0,...,9,2280,880,2004,0,98027,47.5360,-122.066,3160,5946
860,1723049033,20140620T000000,245000.0,1,0.75,380,15000,1.0,0,0,...,5,380,0,1963,0,98168,47.4810,-122.323,1170,15000
5348,9136100420,20150408T000000,767500.0,4,2.00,2350,4815,1.5,0,0,...,7,1450,900,1914,0,98103,47.6681,-122.338,1640,4013
16180,9285800585,20140611T000000,460000.0,3,2.00,2060,4437,1.0,0,0,...,7,1030,1030,1929,0,98126,47.5705,-122.376,1750,4452
6274,3026059341,20141211T000000,549950.0,4,3.50,3090,10510,1.0,0,0,...,8,2190,900,1991,0,98034,47.7176,-122.214,2200,7408

In [5]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [6]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [7]:
df.index

RangeIndex(start=0, stop=21613, step=1)

###Задание №2
------------------------

In [8]:
#2.1 Проведите первичный анализ данных
#2.2 Изучите типы данных
#2.3 Найдите количество пропущенных ячеек в данных

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [ ]:
# 2.4 Посчитайте основные статистики по всем признакам и поизучайте их
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
# 2.5 Пишите выводы

Столбцы датасета в основном имеют тип данных:

| Тип данных  | Кол-во столбцов |
| ----------  | :-------------: |
| int64       |  15             |
| float64     | 5               |
| object      | 1               |

Столбец с типом данных _object_ - "date". Необходимо отметить, что для столбца **"waterfront"** (есть/нет набережной) исходя из описания столбца более подходящий тип данных - _boolen_ (True/False).

Статистика по столбцам и строкам:

<table>
    <thead>
        <tr>
            <th> Пункт  </th>
            <th> Кол-во </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left" > Количество столбцов </td>
            <td align="center" > 21 </td>
        </tr>
        <tr>
            <td align="left" > Количество строк </td>
            <td align="center" > 21 613 </td>
        </tr>
    </tbody>
</table>


Пустые строки отсутствуют в датасете, и также отсутствуют пустые ячейки.

###Задание №3
------------------------

In [9]:
# 3.1 В каком диапазоне изменяются стоимости недвижимости?
answ = 'Стоимость домов меняется в диапазоне от ' + f_format(round(df['price'].min()/1000,1), num) + ' тыс. до ' + f_format( round(df['price'].max()/1000,1), num) + ' тыс.'
answ

'Стоимость домов меняется в диапазоне от 75 тыс. до 7 700 тыс.'

In [10]:
# 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

total_sqware = df['sqft_lot'].sum()
living_sqware = df['sqft_living'].sum()
living_prorate = living_sqware / total_sqware

'Доля жилой площади в данных составляет: ' + f_format(living_prorate, perc)

'Доля жилой площади в данных составляет: 14%'

In [11]:
# 3.3 Как много домов с разными этажами в данных?
df['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [15]:
# 3.4 Насколько хорошие состояния у домов в данных?
df['condition'].value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

In [16]:
# 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?
year_first = df['yr_built'].min()
year_last = df['yr_built'].max()

"Первый год - " + str(year_first) + ", последний год -" + str(year_last)

'Первый год - 1900, последний год -2015'

###Задание №4
------------------------

In [17]:
# 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

two_bedrooms_price = df[round(df['bedrooms'],0) == 2]['price'].mean()
'Средняя стоимость дома составляет: ' + f_format(two_bedrooms_price, num)

'Средняя стоимость дома составляет: 401 373'

In [18]:
# 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
avg_price = df[df['price']>600000]['sqft_lot'].mean()
'Средняя площадь S составляет: ' + f_format(avg_price, num)

'Средняя площадь S составляет: 20 443'

In [19]:
# 4.3 Как много домов коснулся ремонт?
qty = df[df['yr_renovated']!=0]['yr_renovated'].count()
f_format(qty, num)

'914'

In [20]:
# 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?
price_gr10 = df[df['grade']>10]['price'].mean()
price_gr4 = df[df['grade']<4]['price'].mean()
diff_gr10vs4 = round(price_gr10 - price_gr4,0)

'Отличие в среднем составляет: ' + f_format(diff_gr10vs4, num)

'Отличие в среднем составляет: 1 488 885'

###Задание №5
------------------------

In [21]:
# 5.1 Выберите дом клиенту: Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом.
#Сколько вариантов есть у клиента?

dream_house = df[ (df['waterfront']!=0) & (df['bathrooms']>=3) & (df['sqft_basement']!=0)]['id'].count()
'Всего вариантов для клиента: ' + f_format(dream_house, num)

'Всего вариантов для клиента: 41'

In [22]:
# 5.2 Выберите дом клиенту: Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года.
# В какой ценовом диапазоне будут дома?

#dream_house_price = df[ ((df['waterfront']==1) | (df['view']==4)) & (df['condition']==5) & (df['yr_built']>=1980) ]['price']

# Рещение с помощью языка запросов
waterfront_filter = 1
view_filter = 4
condition_filter = 5
year_built_filter = 1980

dream_house_price =df.query( "(waterfront== @waterfront_filter | view == @view_filter) & condition==@condition_filter  & yr_built >= @year_built_filter")['price']

'Ценовой диапазон составляет: ' + f_format(round(dream_house_price.min()/1000,0), num) + ' тыс. до ' + f_format(round(dream_house_price.max()/1000,0),num) + ' тыс.'

'Ценовой диапазон составляет: 1 295 тыс. до 3 000 тыс.'

In [23]:
# 5.3 Выберите дом клиенту: Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

avg_condition = df[ (df['sqft_basement']==0)  &  (df['floors']==2)  & (df['price']<150000) ]['condition'].mean()
'{:.1f}'.format(avg_condition)

'2.8'